.detailsContainer{
    width: 50%;
    min-height: 80vh;
    
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    
}

.detailImage{
    width: 80%;
    height: 50vh;
    margin: auto;
    border-radius: 5px;
    margin-left: 10%;
    
}
.detailTitle{
    margin: 30px 0 15px 0;
}
.details{
    font-size: 19px;
}

.detailIssue{
    margin-top: 10px;
    text-align: left;
}